html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Futura;
  color: #282828;
}

/* fonts */

@font-face {
  font-family: "Futura";
  src: url("../assets/fonts/FuturaNewBook-Reg.woff") format("woff"),
    url("../assets/fonts/FuturaNewBook-Reg.woff2") format("woff2");
  font-weight: 450;
}

@font-face {
  font-family: "Futura";
  src: url("../assets/fonts/FuturaNewLight-Reg.woff") format("woff"),
    url("../assets/fonts/FuturaNewLight-Reg.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Futura";
  src: url("../assets/fonts/FuturaNewBook-Obl.woff") format("woff"),
    url("../assets/fonts/FuturaNewBook-Obl.woff2") format("woff2");
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: "Futura";
  src: url("../assets/fonts/FuturaNewDemi-Obl.woff") format("woff"),
    url("../assets/fonts/FuturaNewDemi-Obl.woff2") format("woff2");
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: "Futura";
  src: url("../assets/fonts/FuturaNewMedium-Reg.woff") format("woff"),
    url("../assets/fonts/FuturaNewMedium-Reg.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Futura";
  src: url("../assets/fonts/FuturaNewLight-Obl.woff") format("woff"),
    url("../assets/fonts/FuturaNewLight-Obl.woff2") format("woff2");
  font-weight: 300;
  font-style: oblique;
}
